@import './constant.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: $color-background;
}

a {
  text-decoration: none;
}
