@import "../../scss/common/constant.scss";
@import "../../scss/common/mixins.scss";

.user-page__wrapper {
  display: flex;
  justify-content: center;
  max-width: 1262px;
  margin: 0 auto;
  @include media-tablet {
    flex-wrap: wrap;
  }
}

.user {
  min-width: 300px;
  text-align: left;
}

.user__image {
  margin: 39px 0 0 0;
  width: 280px;
  height: 280px;
  border-radius: 50%;
}

.user__title {
  margin: 29px 0 0 0;
  padding: 0;
  @include font($size: 2.6rem, $height: 3.4rem, $weight: 600);

  color: $color-dark;
}

.user__link {
  display: block;
  margin: 12px 0 0 0;
  @include font($size: 1.8rem, $height: 2.2rem);

  color: $color-link;
}

.follow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 0 0;
}

.ico_followers {
  width: 24px;
  height: 24px;
  background: url(../../assets/img/followers.svg);
}

.ico_following {
  width: 24px;
  height: 24px;
  background: url(../../assets/img/following.svg);
}

.follow__text {
  margin-left: 8px;
  @include font($size: 1.6rem, $height: 2.4rem);
}

.follow__container {
  display: flex;
  align-items: center;
}
