@import "../../../scss/common/mixins.scss";
@import "../../../scss/common/constant.scss";

.App {
  text-align: center;
}

.main {
  padding: 0px 20px;
  background-color: $color-background;
  @include media-mobile {
    padding: 0px 10px;
  }
}
