.repositories {
  margin-left: 85px;
  text-align: left;
}

.title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
}

.container {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.item {
  padding: 2px 6px;
  margin-left: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  display: flex;

  color: #808080;

  cursor: pointer;
}

.active {
  background-color: #0064eb;
  border-radius: 3px;
  color: #ffffff;
}

.break {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 138.5%;

  color: #808080;

  margin-left: 16px;
}

.previous {
  display: flex;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background: url('./../../../assets/img/stroke-left.svg') center center no-repeat;
}

.next {
  margin-left: 16px;
  display: flex;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background: url('./../../../assets/img/stroke-right.svg') center center no-repeat;
}
