@import "../../scss/common/constant.scss";
@import "../../scss/common/mixins.scss";

.initial {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 662px;
    background-color: $color-background;
}

.ico_search-big {
    width: 64px;
    height: 64px;
    background: url(../../assets/img/search-big.svg) no-repeat center center;
}

.initial__text {
    margin-top: 47px;
    max-width: 210px;
    @include font($size: 2.2rem, $height: 3.1rem);

    text-align: center;
    color: #808080;
}
