.initial {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 662px;
    background-color: #F9F9F9;
}

.ico_search-big {
    width: 64px;
    height: 64px;
    background: url(../../assets/img/search-big.svg) no-repeat center center;
}

.initial__text {
    margin-top: 47px;
    max-width: 210px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    color: #808080;
}
