@import "../../../../scss/common/mixins.scss";
@import "../../../../scss/common/constant.scss";

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 962px;
}

.ico_empty {
  width: 110px;
  height: 110px;
  background: url(../../../../assets/img/empty-repsositories.svg) no-repeat center center;
  @include media-tablet {
    margin-top: 40px;
  }
}

.empty__text {
  margin-top: 24px;
  @include font($size: 2.2rem, $height: 3.1rem);
  color: $color-text;
}