.header__logo {
  margin-right: 22px;
}

.ico_logo {
  width: 41px;
  height: 40px;
  background-image: url(../../../assets/img/logo.svg);
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}